img{
    width: 100%;
    border-radius: 20px;
}

h2{
    font-size: small;
}

#postMvVl{
    min-width: 100px;
}

.postCap{
    width: 100%;
    background-color: transparent;
}

.postDiv input[type="file"], .cardInfos input[type="file"]{
    display:none;
}

.postForm{
    position: relative;
}

.postForm h2{
    white-space: nowrap;
}

.postForm .selectize-input{
    background-color: #F8F9FA;
}

.postForm button{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    background-color: #0082FF;
    border-radius: 20px;
    border: none;
}

.feedCard{
    padding-top: 10px!important;
    position: relative;
    height: fit-content;
    min-height: 100px;
    border-radius: 20px;   
    /* overflow: hidden; */
    margin: 20px 0;
}

.feedCard .cardUserImg{
    position: absolute;
    top: 10px;
    left: 0;
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

.cardInfos{    
    margin-left: 100px;
}

.cardMedia{
    padding: 0 20px 20px 0;
}

.limited_text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 35ch;
}

.postUserImg{
    position: relative;
    width: 100px!important;
    height: 100%!important;
}

.postUserImg img{   
    position: absolute; 
    top: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px 20px;
}

.cardMedia, .postFile_preview_div{
    position: relative;
}

.cardMedia img, .postFile_preview_div img{
    margin: 20px 0;
} 

.cardMedia img[src*=""], .postFile_preview_div img[src*=""]{
    margin: 0!important;
}

.delMediaBtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px 32px;
    height: fit-content;    
    background-color: rgba(0, 0, 0, 0.3)!important;
    color: white;
    border: none;
    border-radius: 50%;
}

.editMedia{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px 0 35px 5px;
    mix-blend-mode: difference;
}

.editMedia>label>i{    
    background-color: rgba(0, 0, 0, 0.3);
}

.editMedia i{    
    color: white;
    margin: 2px;
}

.cardChin{
    height: 50px;
    padding-top: 10px;
    background-color: #0082FF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cardChin i{
    color: white;
}

